

p{

/*Content - Width and Height*/

/*width: 200px;*/
width: 50%;
/*can also use '%', so width: 50% would create a border that went haldway 
accross the page relative to the body i.e. adjusts when chaging window size*/


/*Border*/

border: 2px solid blue;


/*Padding*/

/*padding: 10px;
*/padding-left: 40px;


/*Margin (space between elements, essentiallly padding on the outside of the border)*/

/*margin: 50px;*/
/*margin-top: 60px;*/
/*margin: 20px 40px 500px 100px;*/
/*margin: 0 auto 0 auto;*/ /* auto lets the browser determine the margins (top, right, bottom, left)*/  
margin: 0 auto; /* sets the object centrally within its parent container i.e. the body. */

}
